<footer class="footer">
  <small>
    by <a href="https://www.michaelhartl.com/">阿部舜平</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "概要",   about_path %></li>
      <li><%= link_to "お問合せ", contact_path %></li>

    </ul>
  </nav>
</footer>